<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hthebmlvyznmry@tznvy.pbz</string>
	<key>contactName</key>
	<string>Uğur "vigo" Özyılmazel</string>
	<key>description</key>
	<string>Tailwind CSS Bundle</string>
	<key>name</key>
	<string>Tailwind CSS</string>
	<key>uuid</key>
	<string>AFED1FC2-EF12-4420-9C29-D18BAD9A098A</string>

    <key>mainMenu</key>
    <dict>
        <key>items</key>
        <array>
            <string>1e7f88c3-aa9a-469a-b1cf-28b160db18f6</string><!-- Layout -->
            <string>48574416-2a9e-41a0-b3f8-472596622e5e</string><!-- Sizing -->
            <string>9434b2db-b395-4f46-8b53-b3920a722b5c</string><!-- Transforms -->
            <string>d8e54ec2-15c3-441c-bb4b-8dafe74627ef</string><!-- Effects -->
            <string>------------------------------------</string>
            <string>c645187a-927d-4d59-84af-70e6cb63710b</string><!-- Spacing -->
            <string>8b062819-6376-40b4-88ea-35b52f7d7148</string><!-- Typography -->
            <string>d72e9fe7-5f8d-4243-ab82-eb411634202c</string><!-- Interactivity -->
            <string>591d209c-3396-4572-95c4-a100e2b8fb6d</string><!-- Filters -->
            <string>------------------------------------</string>
            <string>a0b03394-18d5-4bdd-a837-7e11042c9b3c</string><!-- Flex and Grid -->
            <string>64cf07e4-dac4-413c-8148-e6935c215b55</string><!-- Backgrounds -->
            <string>130737c7-a171-487c-ba37-8685a15d4311</string><!-- SVG -->
            <string>4ea546b5-9cb3-4386-960e-be8134d73f9d</string><!-- Accessibility -->
            <string>------------------------------------</string>
            <string>41c8ff82-547d-4d99-9db3-9a141e507eab</string><!-- Borders -->
            <string>2f77dd3a-3de9-4e78-9493-4bddc66fbc0b</string><!-- Transitions and Animation -->
            <string>23a69011-a945-4866-8715-908f231a5b16</string><!-- Tables -->
            <string>------------------------------------</string>
            <string>f0451578-a6fa-409c-85b9-8dee7a515d74</string><!-- Utilities -->
        </array>
        
        <key>submenus</key>
        <dict>

            <!-- Layout -->
            <key>1e7f88c3-aa9a-469a-b1cf-28b160db18f6</key>
            <dict>
                <key>items</key>
                <array>
                    <string>3B044443-2143-4DA1-95F1-C25EA3FBB8BE</string>
                    <string>D8B9A1AE-B848-4D53-B9D7-3E81B9163985</string>
                    <string>------------------------------------</string>
                    <string>23EC4234-CFB4-4505-8564-A9B18626C0A3</string>
                    <string>10EC701B-CC9C-4444-968C-8CFA22357AB9</string>
                    <string>------------------------------------</string>
                    <string>BFA57AA0-769C-4853-97CD-37AFDCB83B08</string>
                    <string>B50C4EF3-D396-4355-BE47-3E1F4A5F19E2</string>
                    <string>58CB8D11-0AFF-4A79-A0F3-A975F17B4CB6</string>
                    <string>------------------------------------</string>
                    <string>6D390484-A610-49A8-A9D0-EFEC8AE1EE2B</string>
                    <string>5D15C3DA-2B5F-44C3-8C50-1AF0FCB9C6DE</string>
                    <string>------------------------------------</string>
                    <string>166B6377-3223-45D6-BD16-AAFD7231D788</string>
                    <string>019DF9BE-B2AC-4187-BC42-A8338504D158</string>
                    <string>D74CBE24-E9C1-41DA-9E83-7C53A988F666</string>
                    <string>------------------------------------</string>
                    <string>36A19965-14BE-4751-B00B-72C92A5EDF16</string>
                    <string>------------------------------------</string>
                    <string>D5DA0F17-1948-4A5B-975E-69A369C643F0</string>
                    <string>BECFFE01-D5A0-4B15-8DA5-937CD26F8D1E</string>
                    <string>------------------------------------</string>
                    <string>E7DA5324-D33A-43D7-8306-A70210446A42</string>
                    <string>1CCD43C9-612F-4A81-9053-96CAFF3EDC76</string>
                    <string>49AAF2BC-16FC-4FA6-A4AD-DDE489FB4C2B</string>
                    <string>------------------------------------</string>
                    <string>FBFC499A-B0B6-4D62-8ECF-AA8CAC7585D9</string>
                    <string>------------------------------------</string>
                    <string>41DC2A08-6B80-421D-9C6A-DE6668F3ACF6</string>
                    <string>31CBF957-1F0A-4076-B864-F760B851313A</string>
                    <string>1C00B9C3-8070-4250-B8E9-11D3FC569141</string>
                    <string>153F768D-827D-41B4-A45B-D6F05ADEC356</string>
                    <string>8890F2C4-9E3A-4577-9A96-1FE14F9FAD49</string>
                    <string>2791A89F-42C6-4437-B1D5-504CF299DCF3</string>
                    <string>A0B40624-ED88-4902-BEAB-76DE3758A27F</string>
                    <string>------------------------------------</string>
                    <string>DD5EB885-890E-42BA-A6B1-1BEB54833E33</string>
                    <string>AC3AA23D-50C0-4B7B-BFFA-9B48F1CDBB45</string>
                    <string>------------------------------------</string>
                </array>
                <key>name</key>
                <string>Layout</string>
            </dict>
            <!-- Layout -->

            <!-- Sizing -->
            <key>48574416-2a9e-41a0-b3f8-472596622e5e</key>
            <dict>
                <key>items</key>
                <array>
                    <string>------------------------------------</string>
                    <string>22296F74-5F19-4088-A2B1-8D700AAA65A1</string>
                    <string>438D1289-757D-409F-907B-F429F155A734</string>
                    <string>A3D96338-51DA-4601-AAE4-C329D270A5CD</string>
                    <string>------------------------------------</string>
                    <string>05F93989-6556-42C7-BDF6-BD54FAC41A5C</string>
                    <string>D7F5DE0D-4733-44A8-AB32-6EB6547CFEA0</string>
                    <string>FBAC3900-83F8-40CF-A157-AC8BA608720A</string>
                    <string>------------------------------------</string>
                </array>
                <key>name</key>
                <string>Sizing</string>
            </dict>
            <!-- Sizing -->

            <!-- Transforms -->
            <key>9434b2db-b395-4f46-8b53-b3920a722b5c</key>
            <dict>
                <key>items</key>
                <array>
                    <string>------------------------------------</string>
                    <string>1A2FCFB7-46A8-4CCA-9ECE-E6CC6691DC08</string>
                    <string>0A5524B3-C841-4698-A472-2D9C2B4DB36C</string>
                    <string>B3F282A1-9CA0-48EB-993A-2E0E4087D365</string>
                    <string>------------------------------------</string>
                    <string>42A7E933-5518-486B-B362-D7DBE40D46DD</string>
                    <string>------------------------------------</string>
                    <string>635F5789-C9ED-425B-92E3-7D8DB09A331A</string>
                    <string>AAE60B53-61DE-43C3-8367-4645F9FECBE9</string>
                    <string>E442990B-AAB8-496B-9F74-173EC9CA1ACE</string>
                    <string>------------------------------------</string>
                    <string>6A87D327-CED3-4D31-934A-E0E5C35602E9</string>
                    <string>------------------------------------</string>
                </array>
                <key>name</key>
                <string>Transforms</string>
            </dict>
            <!-- Transforms -->

            <!-- Effects -->
            <key>d8e54ec2-15c3-441c-bb4b-8dafe74627ef</key>
            <dict>
                <key>items</key>
                <array>
                    <string>------------------------------------</string>
                    <string>4CAEAD59-824F-45A1-8E1C-38487D6DB04F</string>
                    <string>FE649ABB-2692-4B2B-A8A0-F8E72FC1D723</string>
                    <string>------------------------------------</string>
                    <string>B1BB3974-884C-4D54-83B5-AE7B287A03BD</string>
                    <string>------------------------------------</string>
                    <string>EFC6FC36-C241-447D-B987-F67968293DFF</string>
                    <string>F84445C0-5D6A-4D25-8FDD-525E0F640939</string>
                    <string>------------------------------------</string>
                </array>
                <key>name</key>
                <string>Effects</string>
            </dict>
            <!-- Effects -->

            <!-- Spacing -->
            <key>c645187a-927d-4d59-84af-70e6cb63710b</key>
            <dict>
                <key>items</key>
                <array>
                    <string>8d38ebb8-a6dd-47c7-8148-6328f1edb36d</string>
                    <string>247deda5-ba6e-4d85-ad2f-9ead802d87a2</string>
                    <string>36b8578a-e246-4166-b8b7-5d5b8c74fec7</string>
                </array>
                <key>name</key>
                <string>Spacing</string>
            </dict>

            <key>8d38ebb8-a6dd-47c7-8148-6328f1edb36d</key>
            <dict>
                <key>items</key>
                <array>
                    <string>D3926578-AF93-4F11-A3D3-95990732E1A4</string>
                    <string>------------------------------------</string>
                    <string>491D0431-C8DB-4DE8-8BC6-0496D85B4568</string>
                    <string>22B7A5ED-F2B7-432A-96F2-FD9172494B46</string>
                    <string>------------------------------------</string>
                    <string>9BFFB16D-666B-4BE0-A5E7-F75BC262B39B</string>
                    <string>CEE56EDE-8632-469E-8FA8-53F5C501604F</string>
                    <string>7D687DFF-F0C2-4A55-8780-324C605FCD76</string>
                    <string>65741E4E-6648-486D-9673-C124A2EC346A</string>
                    <string>------------------------------------</string>
                    <string>18C2755A-AAB2-428B-A6A1-5AEAA1113F5C</string>
                    <string>------------------------------------</string>
                    <string>92A18C42-29ED-438C-8606-76515856A32C</string>
                    <string>FB4068BC-A744-41F1-8B48-B8BD2B54B7EA</string>
                    <string>------------------------------------</string>
                    <string>0D6CB64C-2642-47DA-AEFC-311E0DEF4F5B</string>
                    <string>6638DA99-57CE-44F5-9922-BB990BF7E1F3</string>
                    <string>C0CC0F24-1B9C-4B6B-B80B-E9784C047F00</string>
                    <string>2438C2D0-F282-401C-A628-CD7A5A9FC8BC</string>
                </array>
                <key>name</key>
                <string>Margin</string>
            </dict>

            <key>247deda5-ba6e-4d85-ad2f-9ead802d87a2</key>
            <dict>
                <key>items</key>
                <array>
                    <string>12b4b4a9-744a-4382-ad8f-a9f6b2d638bb</string>
                    <string>------------------------------------</string>
                    <string>5e1beaed-da64-4a8d-b372-69d9552ee49c</string>
                    <string>0026c76a-b149-428d-8863-fd9867f0e77b</string>
                    <string>------------------------------------</string>
                    <string>b4db54a8-16d5-4cde-82c7-766798d90f1d</string>
                    <string>3298f695-b5d5-45a7-baeb-9a3931b4803f</string>
                    <string>de89d10f-0160-42bd-b366-c47ad0d8c637</string>
                    <string>0e27bf10-5473-4ebe-95c0-b3cf2491e413</string>
                </array>
                <key>name</key>
                <string>Padding</string>
            </dict>

            <key>36b8578a-e246-4166-b8b7-5d5b8c74fec7</key>
            <dict>
                <key>items</key>
                <array>
                    <string>9a85d364-b2db-4fb7-9013-22700c9234e7</string>
                    <string>297dd8f1-bd2a-4e92-92d8-312626fb4ae5</string>
                    <string>------------------------------------</string>
                    <string>ec08d1fb-db6e-4667-8daa-b59fcd8a99e9</string>
                    <string>ef8157a1-3631-4bbd-9005-9b14ac16e754</string>
                </array>
                <key>name</key>
                <string>Space Between</string>
            </dict>
            <!-- Spacing -->

            <!-- Typography -->
            <key>8b062819-6376-40b4-88ea-35b52f7d7148</key>
            <dict>
                <key>items</key>
                <array>
                    <string>0796B351-EF83-4E46-BF41-3878B4D66DBE</string>
                    <string>9DC0B7BE-204D-4F1D-B958-1B735F089580</string>
                    <string>3A042D5A-EF21-4F76-B1E3-470463203404</string>
                    <string>55AD5583-6CAA-4132-9595-6F826AD05C9F</string>
                    <string>5CC9BB3B-F0EA-4839-8350-96AFE0A8320E</string>
                    <string>72FA9EF6-0FA3-4827-A040-2831CEC66CCF</string>
                    <string>3FEE3160-479E-43AE-9328-736B3D549989</string>
                    <string>B22FC00E-323F-4AD2-9586-BBC6BD32C1F5</string>
                    <string>3CD78B25-DAB0-4359-9252-C39C5B98ACD7</string>
                    <string>ACC53C5A-FC85-4238-9377-1F2625BA29BB</string>
                    <string>------------------------------------</string>
                    <string>EA3E28F4-CB8B-42DF-8AD3-35BED530C224</string>
                    <string>1333DE6A-A7DB-47EF-8F57-A5426C594E38</string>
                    <string>6B49B22E-534A-4FEA-B62A-7CF34C8A851C</string>
                    <string>9ABD5CE5-3E23-4AA6-B976-9F6C7546F7CF</string>
                    <string>0CEE95DE-524C-43DD-A0EC-8672538070BE</string>
                    <string>00A19010-615D-435A-B4CF-C668103951E3</string>
                    <string>59A367DF-2A84-4DF9-B154-0103E83A731F</string>
                    <string>2BF264BE-9AEA-4145-AE0B-2781CA0F8134</string>
                    <string>7FED89AD-FEC4-4769-9CA6-D74806FDF31C</string>
                    <string>------------------------------------</string>
                    <string>CD5E5E8D-3CF8-428D-B678-0B1A26ACF3B7</string>
                    <string>2D87C45D-D698-4EA6-A526-51476859F60B</string>
                    <string>F748A0B4-915D-449A-B5A4-1BC9A059FFA6</string>
                    <string>------------------------------------</string>
                    <string>51BDC0E6-12D6-4110-B3EA-0D91213EF68D</string>
                    <string>------------------------------------</string>
                    <string>F68B7B56-503E-42F5-B41C-77379167F805</string>
                    <string>4EED0FDD-2001-43C9-8F85-A57D195C5F4F</string>
                    <string>F26D353B-93F5-489C-9F5C-AAC3451DFF46</string>
                    <string>------------------------------------</string>
                    <string>1B143D95-CE6B-4EAB-B17A-C3362C072394</string>
                    <string>D6CF520B-E922-45C1-9C50-21285998F731</string>
                    <string>D7B7ED5B-31D3-4A77-8900-1ABE46CD352C</string>
                    <string>------------------------------------</string>
                    <string>22A20458-3AFD-4A20-81D5-4CC70C16DBEA</string>
                    <string>------------------------------------</string>
                </array>
                <key>name</key>
                <string>Typography</string>
            </dict>
            <!-- Typography -->
            
            <!-- Interactivity -->
            <key>d72e9fe7-5f8d-4243-ab82-eb411634202c</key>
            <dict>
                <key>items</key>
                <array>
                    
                </array>
                <key>name</key>
                <string>Interactivity</string>
            </dict>
            <!-- Interactivity -->

            <!-- Filters -->
            <key>591d209c-3396-4572-95c4-a100e2b8fb6d</key>
            <dict>
                <key>items</key>
                <array>
                    
                </array>
                <key>name</key>
                <string>Filters</string>
            </dict>
            <!-- Filters -->

            <!-- Flex and Grid -->
            <key>a0b03394-18d5-4bdd-a837-7e11042c9b3c</key>
            <dict>
                <key>items</key>
                <array>
                    
                </array>
                <key>name</key>
                <string>Flex and Grid</string>
            </dict>
            <!-- Flex and Grid -->

            <!-- Backgrounds -->
            <key>64cf07e4-dac4-413c-8148-e6935c215b55</key>
            <dict>
                <key>items</key>
                <array>
                    
                </array>
                <key>name</key>
                <string>Backgrounds</string>
            </dict>
            <!-- Backgrounds -->

            <!-- SVG -->
            <key>130737c7-a171-487c-ba37-8685a15d4311</key>
            <dict>
                <key>items</key>
                <array>
                    
                </array>
                <key>name</key>
                <string>SVG</string>
            </dict>
            <!-- SVG -->

            <!-- Accessibility -->
            <key>4ea546b5-9cb3-4386-960e-be8134d73f9d</key>
            <dict>
                <key>items</key>
                <array>
                    
                </array>
                <key>name</key>
                <string>Accessibility</string>
            </dict>
            <!-- Accessibility -->

            <!-- Borders -->
            <key>41c8ff82-547d-4d99-9db3-9a141e507eab</key>
            <dict>
                <key>items</key>
                <array>
                    
                </array>
                <key>name</key>
                <string>Borders</string>
            </dict>
            <!-- Borders -->

            <!-- Transitions and Animation -->
            <key>2f77dd3a-3de9-4e78-9493-4bddc66fbc0b</key>
            <dict>
                <key>items</key>
                <array>
                    
                </array>
                <key>name</key>
                <string>Transitions and Animation</string>
            </dict>
            <!-- Transitions and Animation -->

            <!-- Tables -->
            <key>23a69011-a945-4866-8715-908f231a5b16</key>
            <dict>
                <key>items</key>
                <array>
                    
                </array>
                <key>name</key>
                <string>Tables</string>
            </dict>
            <!-- Tables -->

            <!-- Utilities -->
            <key>f0451578-a6fa-409c-85b9-8dee7a515d74</key>
            <dict>
                <key>items</key>
                <array>
                    <string>4603BB33-AD1E-454A-9A04-770C554359C4</string>
                </array>
                <key>name</key>
                <string>Utilities</string>
            </dict>
            <!-- Utilities -->

        </dict>
        
    </dict>

</dict>
</plist>
